__pycache__/
*.pyc
.venv/
.env
.llm_cache/
.pytest_cache/
**/node_modules/
report/.~lock*.docx#
results/*.json
data/openrca/**
!data/openrca/.gitkeep
data/openrca_prepared/**
data/rcaeval
data/telecomts/**
data/spotlight/**
!data/spotlight/.gitkeep
data/telecom_bench/**
!data/telecom_bench/.gitkeep
data/icas_spgc2022/**
!data/icas_spgc2022/.gitkeep
.DS_Store
